################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
packages
App_Data
*.user
/src/tools
/tools
build
/TestResult.xml