################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
packages
/MVCServer/MVCApp/MVCApp/App_Data
/WinFileUpload/MVCApp/App_Data
/src/MVCApp/App_Data
*.user
